<% layout('layouts/app') %>

<div>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="usesrname">username</label>
        <input type="text" name="username" placeholder="username/email">
        <label for="password">password</label>
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
    </form>
</div>