<% layout('layouts/app') %>
<link rel="stylesheet" href="/css/developer.css">
<section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="/image/developer.png" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>Dev</span>eloper</h1>
        <h1>Muhammad <span>Zulfan</span>  Abidin</h1>
        <h2>Fullstack Web Developer</h2>
        <h2>Secretary General PPI AIU 2023/2024</h2>
        <p>Hello there, I'm Muhammad Zulfan Abidin, i would like to thank to PPI AIU for giving me a space to learn and explore more about web application development. This website is aimed to help everyone to know more about PPI AIU and make PPI AIU becomes more informative and innovative. I hope this website is going to be sustainable for the next generation and spreadout the information about PPI AIU inside and outside Albukhary International University.</p>


        </p>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="/image/developer2.jpg" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>Dev</span>eloper</h1>
        <h1>N<span>ar</span>di</h1>
        <h2>Fullstack Web Developer</h2>
        <h2>Secretary Department of Penkastrat PPI AIU 2023/2024</h2>
        <p>Hello! I'm Nardi, a Computer Science student, and I’d like to thank PPI AIU for giving me the opportunity to expand my skills in web application development. This website has been developed to better connect people with PPI AIU, making it a more informative and innovative resource. I hope that this platform continues to grow, providing valuable information about PPI AIU within Albukhary International University and beyond.</p>


        </p>
      </div>
    </div>
  </section>