<% layout('layouts/app') %>

<div class="container mx-auto bg-gray-800 min-h-screen flex flex-col justify-center items-center">
    <h1 class="text-4xl font-bold text-center text-white">Welcome to my website!</h1>
    <p class="mt-4 text-lg text-center text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>