<head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/welcome.css"> <!-- Link to the external CSS file -->
</head>
<body>
    <section class="main-section">
        <div class="content-container">
            <div class="content">
                <h1 id="h1">Welcome To <span >PPI AIU</span> </h1>
                <h1 style="font-size: 20px;">
                  <span>uphold</span>   the values ​​of Pancasila and AIU 5 A Core values</h1>
                <h1 style="font-size: 20px;">Who you are <span style="font-size: 30px;">? </span></h1>
                <a href="/home">Visitor</a>
                <a href="/login">Admin</a>

            </div>
            <div class="animated-box"></div> <!-- The animated box -->
        </div>
        <video src="/image/welcome.mp4" autoplay muted loop class="background-video"></video>
    </section>
</body>


<!-- in this page please make 2 buttons to choose wether the visitor website is admin or just  a normal visitor if admin the  button will redirect to login page if normal visitor will redirect  to home page -->
