<link rel="stylesheet" href="/css/home.css">

<style>

</style>
<!--FONT AWESOME-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
</head>
<body>
<footer>
<div class="footer">
<div class="row">
<a target="_blank" href="https://www.instagram.com/ppi_aiu?igsh=dDNieDZyN3cyaWIx"><i class="fa fa-instagram"></i></a>
<a target="_blank" href="https://youtube.com/@persatuanpelajarindonesiaa9530?si=ac_24_XrGg3J-YnS"><i class="fa fa-youtube"></i></a>
</div>

<div class="row">
<ul>
<li><a href="/home">Home</a></li>
<li><a href="/periode">Board</a></li>
<li><a href="/blog">Blogs</a></li>
<li><a href="/foundation">Foundation</a></li>
<li><a href="/developer">About Developer</a></li>
<li><a target="_blank" href="https://ppiaiu.wordpress.com/">Our Seniors</a></li>
</ul>
</div>

<div class="row">
PPI AIU Copyright © 2024 
</div>
</div>
</footer>
