<link rel="stylesheet" href="/css/home.css">
<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="header-logo">
                <a href="/">
                    <img src="/image/logo-ppi.png" alt="PPI AIU Logo">
                </a>
                <span class="header-logo-name">PPI AIU</span>
            </div>
            <nav class="header-navigation">
                <ul>
                    <li><a href="/" class="header-link">Home</a></li>
                    <li><a href="/about" class="header-link">Board</a></li>
                    <li><a href="/events" class="header-link">Blogs</a></li>
                    <li><a href="/contact" class="header-link">Foundation</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
