<link rel="stylesheet" href="/css/home.css">
<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="header-logo">
                <a href="/">
                    <img src="/image/logo-ppi.png" alt="PPI AIU Logo">
                </a>
            </div>
            <nav class="header-navigation">
                <ul>
<<<<<<< HEAD
                    <li><a href="/" class="header-link">Home</a></li>
                    <li><a href="/about" class="header-link">Board</a></li>
                    <li><a href="/events" class="header-link">Blogs</a></li>
                    <li><a href="/contact" class="header-link">Foundation</a></li>
=======
                    <li><a href="/home" class="header-link">Home</a></li>
                    <li><a href="/about" class="header-link">About Us</a></li>
                    <li><a href="/events" class="header-link">Events</a></li>
                    <li><a href="/contact" class="header-link">Contact</a></li>
>>>>>>> 1aaeb84e4afc8b6e73b99be408fd3d97eaef3fd5
                </ul>
            </nav>
        </div>
    </div>
</header>
