<% layout('layouts/app') %>
<body>
    <h1 style="margin-top: 30em;">creating member</h1>
    <form action="/member/<%= periode_id %>/<%= divisi_id %>/store" method="post" > 
        <label for="name">name</label>
        <input type="text" name="member[name]" id="name">
        <label for="jabatan">jabatan</label>
        <input type="text" name="member[jabatan]" id="jabatan">
        <label for="background">background</label>
        <input type="text" name="member[background]" id="background">
        <button type="submit">submit</button>
    </form>
</body>
