<% layout('layouts/app') %>

<h1>edit departemen</h1>

<form action="/divisi/<%= divisi._id %>?_method=put" method="post">
    <label for="name">name</label>
    <input type="text" name="divisi[name]" id="name" value="<%= divisi.name %>" >
    
    <label for="deskripsi">Description</label>
    <input type="text" name="divisi[deskripsi]" id="deskripsi" value="<%= divisi.deskripsi %>">

    <button type="submit">submit</button>
</form>