<% layout("layouts/app") %>

<h1>create page for periode!!!</h1>

<form action="/periode" method="post" > 
    <label for="name">name</label>
    <input type="text" name="periode[name]" id="name">
    <button type="submit"> submit</button>
</form>
