<% layout('layouts/app') %>

<div class="periode-container">
    <h2>Ini adalah Periode PPI AIU</h2>

    <div class="periode-list">
        <% for (let periode of periodes) { %>
            <div class="periode-item">
                <a href="/periode/<%= periode._id %>">
                    <h1><%= periode.name %></h1>
                </a>  
            </div>
        <% } %>
    </div>
    <% if(currentUser) { %>
    <button class="new-periode-button">
        <a href="/periode/create">New Periode</a>
    </button
<% } %>